{{- define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">404</h1>
    <div class="post-description">页面没有找到</div>
  </header>
  <div class="post-content md-content">
    <p>《沉重的时刻》</p>
    <p>里尔克</p>
    <p>此刻，有谁在世上的某处哭，<br>
    无缘无故地在世上哭，<br>
    哭我。</p>
    <p>此刻，有谁在夜里的某处笑，<br>
    无缘无故地在夜里笑，<br>
    笑我。</p>
    <p>此刻，有谁在世上的某处走，<br>
    无缘无故地在世上走，<br>
    走向我。</p>
    <p>此刻，有谁在世上的某处死<br>
    无缘无故地在世上死，<br>
    望着我。</p>
  </div>
</article>
{{- end }}{{/* end main */ -}}

